<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>{PAGE_TITLE}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="icon" type="image/png" href="/alterlibris/media/layout/favicon.png" /> -->
    {CSS_CALLS} {OPENGRAPH} {MATOMO}
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/theme/styles.css?{ASSETS_VERSION}"
    />
  </head>
  <body>
    <div class="wrapper">
      <header class="site-header noprint">
        <h1 class="site-title">
          <a href="/">{SITE_TITLE}</a>
        </h1>
        <div class="site-logo">
          <a href="/">
            <img src="/theme/logo.png" alt="{SITE_TITLE}" class="logo" />
          </a>
        </div>
        <div class="site-catchline">
          Des livres et des assos !
        </div>
        <div class="header-bar" class="hidden-print">
          <form class="search-box" action="/articles/search">
            <input
              type="text"
              class="search-field"
              name="q"
              id="search-field"
              value="{SEARCH_TERMS}"
              placeholder="Auteur, titre, référence…"
            />
            <button class="btn btn-default btn-sm search-button" type="submit">
              <i aria-label="Recherche" class="fa fa-search"></i>
            </button>
          </form>

          <div class="social-box">
            <a
              class="social-button"
              href="https://www.facebook.com/AlterLibris"
              title="Nous suivre sur Facebook"
              target="_blank"
              rel="noreferrer noopener"
            >
              <span aria-label="Facebook" class="fa fa-facebook"></span>
            </a>
            <a
              class="social-button"
              href="https://twitter.com/AlterLibris"
              title="Nous suivre sur Twitter"
              target="_blank"
              rel="noreferrer noopener"
            >
              <span aria-label="Twitter" class="fa fa-twitter"></span>
            </a>
            <a class="social-button" href="/contact/" title="Nous contacter">
              <span aria-label="Nous contacter" class="fa fa-envelope"></span>
            </a>
          </div>

          <div class="cart-box">
            <span id="myCart">{cart_oneline}</span>
          </div>
        </div>
        <!-- /header-bar -->
      </header>

      <nav class="navbar" role="navigation">
        <div class="">
          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#navbar"
              aria-expanded="false"
              aria-controls="navbar"
            >
              <span class="sr-only">Menu</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Accueil</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li>
                <a href="/editeurs/">Nos associations</a>
              </li>
              <li class="separator">|</li>
              <li>
                <a href="/articles/">Catalogue</a>
              </li>
              <li class="separator">|</li>
              <li>
                <a href="/rayon/centre-de-documentation">Centre de documentation</a>
              </li>
              <li class="separator">|</li>
              <li>
                <a href="/pages/qui-sommes-nous">Qui sommes-nous ?</a>
              </li>
              <li class="separator">|</li>
              <li>
                <a href="/contact/">Contact</a>
              </li>
            </ul>
          </div>
          <!--/.navbar-collapse -->
        </div>
      </nav>

      <main>
        <div class="content">{PAGE_CONTENT}</div>
      </main>

      <footer class="site-footer noprint">
        <div class="footer-row footer-presentation">
          <div class="footer-col">
            <div class="white-circle"></div>
            <h1 class="col-title">Pour qui ?</h1>
            <p class="col-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum
              scelerisque justo non iaculis. Phasellus efficitur id tortor eget maximus. In ac urna
              a eros fringilla venenatis et placerat justo. Duis bibendum nisl at pellentesque
              ultrices.
            </p>
          </div>
          <div class="footer-col">
            <div class="white-circle"></div>
            <h1 class="col-title">Pourquoi ?</h1>
            <p class="col-text">
              Vivamus euismod convallis sapien vitae rhoncus. Nunc interdum, purus in volutpat
              venenatis, lorem elit feugiat dui, at fermentum elit metus ut lorem. Ut augue tellus,
              efficitur sed mi et, vulputate pharetra orci. Integer bibendum viverra ligula quis
              aliquet.
            </p>
          </div>
          <div class="footer-col">
            <div class="white-circle"></div>
            <h1 class="col-title">Une question ?</h1>
            <p class="col-text">
              Praesent et sem sem. Quisque tristique sapien sit amet faucibus aliquam. Praesent
              molestie convallis lorem nec egestas. In hac habitasse platea dictumst. Vivamus
              ullamcorper dui quis odio porttitor, in blandit elit semper. Sed sagittis, libero id
              rhoncus auctor, velit nisi consectetur lacus, at iaculis arcu lorem nec velit.
            </p>
          </div>
        </div>

        <div class="footer-row">
          <div class="footer-col">
            <h1 class="col-title">Catégories</h1>
            <ul class="footer-list">
              <li><a href="/rayon/essais">Essais</a></li>
              <li><a href="/rayon/fictions">Fictions</a></li>
              <li><a href="/rayon/vecus">Vécus</a></li>
              <li><a href="/rayon/guides-pratiques">Guides pratiques</a></li>
              <li><a href="/rayon/bd">BD</a></li>
              <li><a href="/rayon/beaux-livres">Beaux-livres</a></li>
              <li><a href="/rayon/jeunesse">Jeunesse</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h1 class="col-title">Informations</h1>
            <ul class="footer-list">
              <li><a href="/contact/">Contact</a></li>
              <li><a href="/pages/livraison">Livraison</a></li>
              <li><a href="/pages/mentions-legales">Mentions légales</a></li>
              <li>
                <a href="/pages/conditions-generales-de-vente">Conditions générales de vente</a>
              </li>
              <li><a href="/pages/qui-sommes-nous">Qui sommes-nous ?</a></li>
              <li><a href="/pages/faq">FAQ</a></li>
              <li><a href="/pages/rejoignez-nous">Rejoignez-nous</a></li>
              <li><a href="/pages/podcasts">Podcasts</a></li>
              <li><a href="/pages/plan-du-site">Plan du site</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h1 class="col-title">Mon compte</h1>
            <ul class="footer-list">
              <li><a href="/pages/log_myorders">Mes commandes</a></li>
              <li><a href="https://axys.me">Mes informations personelles</a></li>
            </ul>
          </div>
        </div>

        <div class="powered-by">
          <a href="http://www.biblys.fr/" target="_blank">
            <img
              src="/assets/images/propulse-par-biblys.png"
              alt="Propulsé par Biblys"
              class="powered-by-image"
            />
          </a>
        </div>
      </footer>
    </div>

    {JS_CALLS}
  </body>
</html>
