{# 
  CAROUSEL (STATIQUE) 
  Pour changer le contenu du carousel,
  modifier le code ci-dessous
#}

<div class="biblys-carousel swiper-container" data-autoplay-delay="3000">
	<div
		class="swiper-wrapper">

		{# Bannière 1 #}

		<div class="swiper-slide">
			<a href="/">
				<img class="carousel-image" src="/media/carousel/image-1.jpg" alt="Bannière 1"/>
			</a>
		</div>

		{# Bannière 2 #}

		<div class="swiper-slide">
			<a href="/">
				<img class="carousel-image" src="/media/carousel/image-2.jpg" alt="Bannière 2"/>
			</a>
		</div>

		{# Bannière 3 #}

		<div class="swiper-slide">
			<a href="/">
				<img class="carousel-image" src="/media/carousel/image-3.jpg" alt="Bannière 3"/>
			</a>
		</div>
	</div>

	<div class="swiper-pagination"></div>
</div>

{# Colonnes #}

<div class="home-cols">

	<div class="col-news">
		<h2 class="col-title">Nouveautés</h2>

		<div class="home-article">
			<div class="home-article">
				<img src="https://cdn.biblys.cloud/book/34/71134.jpg?w=300" alt="Écologie en résistance vol. 2"/>
				<h3 class="home-article-title">Écologie en résistance vol. 2</h3>
				<p class="home-article-publisher">ÉDITIONS LIBRE</p>
				<p class="home-article-price">12,00 €</p>
				<button class="btn btn-primary">Ajouter au panier</button>
				<p class="home-article-slogan">
					Pourquoi et comment résister efficacement à la civilisation
					          industrielle qui détruit la planète ?
				</p>
			</div>
		</div>
	</div>

	<div class="col-headings"></div>

</div>
