{#
  CAROUSEL (STATIQUE)
  Pour changer le contenu du carousel,
  modifier le code ci-dessous
#}

<div class="biblys-carousel swiper-container" data-autoplay-delay="4000">
  <div
    class="swiper-wrapper">

    {# Bannière 1 #}

    <div class="swiper-slide">
      <a href="https://www.biblys.fr" target="_blank" rel="noopener noreferrer">
        <img class="carousel-image" src="/media/carousel/alterlibris-biblys.jpg" alt="Bannière 1"/>
      </a>
    </div>

    {# Bannière 2 #}

    <div class="swiper-slide">
      <a href="/rayon/parler-tunisien-fissa">
        <img class="carousel-image" src="/media/carousel/parler-tunisien-alterlibris.jpg" alt="Bannière 2"/>
      </a>
    </div>

    {# Bannière 3 #}

    <div class="swiper-slide">
      <a href="https://www.facebook.com/AlterLibris" target="_blank" rel="noopener noreferrer">
        <img class="carousel-image" src="/media/carousel/banniere-1000px-01-reseauxsociaux-alterlibris.jpg" alt="Bannière 3"/>
      </a>
    </div>
  </div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <div class="swiper-pagination"></div>
</div>

<div class="home-cols">

  <div class="home-left-col">

    {#
      BLOC NOUVEAUTÉS (DYNAMIQUE)
      Ce bloc affiche automatiquement les livres du rayon "Page d'accueil"
    #}

    <div class="home-articles">
      <header class="header">
        <h1 class="home-section-title home-articles-title">Nouveautés</h1>
      </header>
      {% include 'AppBundle:Article:_list.html.twig' %}
    </div>

    <div>
      <h1 class="home-section-title">L'actu des assos</h1>
        <a href="https://www.kisskissbankbank.com/fr/projects/mouvement-utopia?fbclid=IwAR03CTeh1Yng24YatGERo4SFq3YX7pwADu2paJqSgvejlNjuYW6CPthP2Tk" target="_blank" rel="noopener noreferrer">
          <img src="/media/rubriques/bloc-site-290px-03-actudesassos-appelutopia.jpg" class="home-heading-image" alt="Rubrique 3" />
        </a>
    </div>
  </div>

  <div class="home-right-col">
    <div class="home-headings-section">
      <article class="home-heading">
        <h1 class="home-section-title">Actualités</h1>
        <a href="https://biblys.fr" target="_blank" rel="noopener noreferrer">
            <img src="/media/rubriques/bloc-site-290px-01-alterlibris-feat-biblys.jpg" class="home-heading-image" alt="Actualités" />
        </a>
      </article>

      <article class="home-heading">
        <h1 class="home-section-title">Coups de cœur</h1>
        <a href="/blog/tirons-la-langue-par-lysiane">
          <img src="/media/rubriques/bloc-site-290px-02-coupdecoeur-tironslalangue.jpg" class="home-heading-image" alt="Rubrique 2" />
        </a>
      </article>

      <article class="home-heading">

      <h1 class="home-section-title">Suivez-nous sur Facebook</h1>
      <div
        class="fb-page"
        data-href="https://www.facebook.com/AlterLibris"
        data-tabs="timeline"
        data-width="290"
        data-height=""
        data-small-header="false"
        data-adapt-container-width="true"
        data-hide-cover="false"
        data-show-facepile="true"
      >
        <blockquote cite="https://www.facebook.com/AlterLibris/" class="fb-xfbml-parse-ignore">
          <a href="https://www.facebook.com/AlterLibris/">AlterLibris, tous les livres des assos</a>
        </blockquote>
      </div>
    </div>
  </div>
</div>
