{# 
  CAROUSEL (STATIQUE) 
  Pour changer le contenu du carousel,
  modifier le code ci-dessous
#}

<div class="biblys-carousel swiper-container" data-autoplay-delay="3000">
  <div
    class="swiper-wrapper">

    {# Bannière 1 #}

    <div class="swiper-slide">
      <a href="/">
        <img class="carousel-image" src="/media/carousel/image-1.jpg" alt="Bannière 1"/>
      </a>
    </div>

    {# Bannière 2 #}

    <div class="swiper-slide">
      <a href="/">
        <img class="carousel-image" src="/media/carousel/image-2.jpg" alt="Bannière 2"/>
      </a>
    </div>

    {# Bannière 3 #}

    <div class="swiper-slide">
      <a href="/">
        <img class="carousel-image" src="/media/carousel/image-3.jpg" alt="Bannière 3"/>
      </a>
    </div>
  </div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <div class="swiper-pagination"></div>
</div>

<div class="home-cols">

  <div class="home-left-col">

    {# 
      BLOC NOUVEAUTÉS (DYNAMIQUE) 
      Ce bloc affiche automatiquement les livres du rayon "Page d'accueil"
    #}

    <div class="home-articles">
      <header class="header">
        <h1 class="home-section-title home-articles-title">Nouveautés</h1>
      </header>
      {% include 'AppBundle:Article:_list.html.twig' %}
    </div>

    <div class="home-facebook-section">
      <h1 class="home-section-title">Suivez-nous sur Facebook</h1>
      <img src="/theme/facebook.png" class="facebook-widget">
    </div>
  </div>

  <div class="home-right-col">
    <div class="home-headings-section">
      <article class="home-heading">
        <h1 class="home-section-title">Actualités</h1>
        <a href="/">
          <img src="/media/rubriques/image-1.jpg" class="home-heading-image" alt="Actualités" />
        </a>
      </article>

      <article class="home-heading">
        <h1 class="home-section-title">Rubrique 2</h1>
        <a href="/">
          <img src="/media/rubriques/image-2.jpg" class="home-heading-image" alt="Rubrique 2" />
        </a>
      </article>

      <article class="home-heading">
        <h1 class="home-section-title">Rubrique 3</h1>
        <a href="/">
          <img src="/media/rubriques/image-3.jpg" class="home-heading-image" alt="Rubrique 3" />
        </a>
      </article>
    </div>
  </div>
</div>
