/*
  Couleurs principales
  Rouge: 
  Bleu: #000084
*/

:root {
  --red: #e30713;
  --purple: #4400af;
  --serif: serif;
  --sans-serif: sans-serif;
}

html {
  font-size: 62.5%; /* 1rem = 10 pixels */
}

body {
  font-family: var(--sans-serif);
  font-size: 1.4rem;
}

/** 1. MOBILE **/

/* 1.1 Layout */

.wrapper {
  margin: auto;
  max-width: 1000px;
  padding-top: 30px;
  width: 100%;
}

/* 1.2 Header */

.site-header {
  padding-top: 10px;
}

.site-title {
  display: none;
}

.site-logo .logo {
  display: block;
  margin: 0 auto 15px;
  max-width: 90%;
}

.site-catchline {
  color: var(--red);
  font-size: 1.8em;
  font-weight: 600;
  text-align: center;
}

.social-button {
  align-items: center;
  justify-content: center;
  background-color: var(--purple);
  border-radius: 50%;
  display: inline-flex;
  height: 32px;
  color: white;
  margin-right: 3px;
  width: 32px;
}

.social-button .fa {
  font-size: 2rem;
}

.social-button .fa-envelope {
  font-size: 1.8rem;
}

.header-bar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
}

.search-box {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: auto;
  margin-bottom: 5px;
  text-align: center;
  width: 100%;
}

.search-box .search-field {
  border: 0;
  border-bottom: 1px solid var(--purple);
  padding: 4px 0;
  margin-top: 0;
  width: calc(100% - 20px);
}

.search-box .search-field::placeholder {
  font-family: var(--serif);
  font-size: 1.6rem;
  color: var(--purple);
  opacity: 0.5;
}

.search-box .search-button {
  border: 0;
  color: var(--purple);
  font-size: 2rem;
  padding: 0;
}

.social-box {
  display: flex;
  font-size: 3rem;
  padding: 0 5px;
}

.cart-box {
  padding: 0 5px;
}

.cart-box .btn {
  border-color: var(--purple);
  color: var(--purple);
}

.cart-box .not-empty {
  background: var(--purple);
  color: white;
}

/* 1.3 Navbar */

.navbar {
  font-size: 2rem;
}

.navbar a {
  color: var(--purple);
}

.navbar-nav {
  margin-top: -10px;
}

.navbar .navbar-toggle .icon-bar {
  background-color: var(--purple);
}

/** 2. TABLET **/

@media (min-width: 768px) {
  /* 2.1 Tablet Layout */

  .wrapper {
    padding: 0 10px;
  }

  /* 2.2 Tablet Header */

  .site-header {
    padding-bottom: 8px;
  }

  .header-bar {
    align-items: flex-end;
  }

  .header-bar .social-box {
    order: 1;
    padding: 0;
    width: 150px;
  }

  .header-bar .search-box {
    align-items: flex-end;
    order: 2;
    margin: 0;
    padding: 0;
    width: 400px;
  }

  .header-bar .search-button {
    padding-bottom: 0;
  }

  .header-bar .cart-box {
    order: 3;
    padding: 0;
    text-align: right;
    width: 150px;
  }

  /* 2.3 Tablet Navbar */

  .navbar {
    font-size: 1.8rem;
  }

  .navbar .navbar-brand {
    display: none;
  }

  .navbar {
    border-radius: 0;
  }

  .navbar-header {
    display: none;
  }

  .navbar-collapse {
    padding: 0;
  }

  .navbar-nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    width: 100%;
  }

  .navbar-nav::before,
  .navbar-nav::after {
    display: none;
    content: none;
  }

  .navbar-nav > li > a {
    line-height: initial;
    padding: 0;
  }

  .navbar .separator {
    opacity: 0.75;
  }
}

/** 3. DESKTOP **/

@media (min-width: 1024px) {
  /* 2.1 Desktop Layout */

  .navbar {
    font-size: 2.25rem;
  }
}
