/** GENERAL **/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,400;0,500;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Literata:ital,wght@0,400;0,500;1,400;1,500&display=swap');

:root {
  /* Colors */
  --red: #e30513;
  --light-red: #fe0000;
  --purple: #4400af;

  /* Font families */
  --serif: 'Literata', serif;
  --sans-serif: 'IBM Plex Sans Condensed', sans-serif;

  /* Font weights */
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
}

html {
  font-size: 62.5%; /* 1rem = 10 pixels */
}

body {
  font-family: var(--sans-serif);
  font-size: 1.4rem;
}

a {
  color: var(--purple);
}

h1.page-title {
  border-bottom: 1px solid var(--red);
  color: var(--red);
  margin-bottom: 15px;
  padding-bottom: 30px;
}

/** 1. MOBILE **/

/* 1.1 Mobile Layout */

.wrapper {
  margin: auto;
  max-width: 1024px;
  padding: 30px 5px;
  width: 100%;
}

/* 1.2 Mobile Header */

.site-header {
  padding-top: 10px;
}

.site-title {
  display: none;
}

.site-logo .logo {
  display: block;
  margin: 0 auto 15px;
  max-width: 90%;
}

.site-catchline {
  color: var(--red);
  font-size: 1.8em;
  font-weight: var(--semi-bold);
  text-align: center;
}

.social-button {
  align-items: center;
  justify-content: center;
  background-color: var(--purple);
  border-radius: 50%;
  display: inline-flex;
  height: 32px;
  color: white;
  margin-right: 13px;
  width: 32px;
}

.social-button .fa {
  font-size: 2rem;
}

.social-button .fa-envelope {
  font-size: 1.8rem;
}

.header-bar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
}

.search-box {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 5px;
  text-align: center;
  width: 100%;
}

.search-box .search-field {
  border: 0;
  border-bottom: 1px solid var(--purple);
  padding: 4px 0;
  margin-top: 0;
  width: calc(100% - 20px);
}

.search-box .search-field::placeholder {
  font-family: var(--serif);
  font-size: 1.6rem;
  color: var(--purple);
  opacity: 0.5;
}

.search-box .search-button {
  border: 0;
  color: var(--purple);
  font-size: 2rem;
  padding: 0;
}

.social-box {
  display: flex;
  font-size: 3rem;
}

.cart-box .btn {
  border-color: var(--purple);
  color: var(--purple);
}

.cart-box .not-empty {
  background: var(--purple);
  color: white;
}

/* 1.3 Mobile Navbar */

.navbar {
  font-size: 2rem;
  margin-bottom: 0;
}

.navbar a {
  color: var(--purple);
  font-weight: var(--medium);
}

.navbar-nav {
  margin-top: -10px;
}

.navbar .navbar-toggle .icon-bar {
  background-color: var(--purple);
}

.navbar .separator {
  display: none;
}

/* 1.4 Mobile Footer */

.site-footer .footer-row {
  color: white;
  margin: 0 -5px;
  padding: 15px 0;
  text-align: center;
}

.site-footer .footer-presentation {
  background: var(--purple);
}

.site-footer .white-circle {
  background: white;
  border-radius: 50%;
  margin: auto;
  height: 80px;
  width: 80px;
}

.site-footer .footer-col {
  padding: 15px 0;
}

.site-footer .col-title {
  font-size: 2rem;
  color: var(--light-red);
}

.site-footer .footer-presentation .col-title {
  font-size: 2.5rem;
  font-weight: var(--medium);
}

.site-footer .footer-presentation a {
  color: var(--red);
}

.site-footer .col-text {
  font-family: --serif;
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 0;
  padding: 0 15px;
}

.site-footer .footer-list {
  font-family: var(--serif);
}

.site-footer .powered-by {
  text-align: center;
}

/* 1.5 Mobile Home page */

div.biblys-carousel.swiper-container {
  padding-bottom: 30px;
}

div.biblys-carousel.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0;
}

div.biblys-carousel .swiper-pagination-bullet {
  background-color: var(--red);
  border-color: var(--red);
  height: 10px;
  opacity: 1;
  width: 10px;
}

div.biblys-carousel .swiper-pagination-bullet-active {
  background-color: var(--purple);
  border-color: var(--purple);
}

div.biblys-carousel .swiper-button-next,
div.biblys-carousel .swiper-button-prev {
  display: none;
}

.home-section-title {
  border-bottom: 1px solid var(--purple);
  color: var(--purple);
  font-weight: var(--semi-bold);
  font-size: 42px;
  margin-bottom: 15px;
  padding-bottom: 30px;
}

.home-articles-title {
  border-bottom: 0;
}

.home-heading {
  margin-bottom: 50px;
}

.home-heading .home-heading-image {
  max-width: 100%;
}

.facebook-widget {
  max-width: 100%;
}

/* 1.6 Mobile Article List */

.article-list .article-in-list {
  border-bottom: 1px solid var(--purple);
  box-sizing: border-box;
  margin: auto;
  overflow: hidden;
  padding: 15px 0 40px;
  text-align: center;
  width: 320px;
}

.article-list .article-cover {
  align-items: center;
  display: flex;
  height: 315px;
  justify-content: center;
  width: 315px;
}

.article-list .article-cover-image {
  display: block;
  margin: auto;
  max-height: 315px;
  max-width: 315px;
}

.article-list .article-title {
  font-weight: var(--medium);
  font-size: 2.8rem;
  line-height: 3rem;
  margin-top: 20px;
  padding: 0 30px;
}

.article-list .article-publisher {
  font-size: 1.2rem;
}

.article-list .article-price {
  color: var(--purple);
  font-weight: var(--medium);
  font-size: 2.4rem;
}

.article-list .article-publisher-link {
  color: var(--red);
  font-family: var(--serif);
}

.article-list .cart-button,
.article-page .cart-button {
  background-color: var(--purple);
  border-radius: 0;
  font-size: 2.4rem;
  font-weight: var(--semi-bold);
}

.article-list .cart-button .fa,
.article-page .cart-button .fa {
  display: none;
}

.article-list .article-catchline p {
  color: var(--purple);
  font-family: var(--serif);
  font-size: 14px;
  line-height: auto;
  margin: 1em 0 0;
  padding: 0 30px;
}

.articles-pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 75px 25px;
}

.articles-pagination .pagination-page {
  font-size: 2.5rem;
  margin: 0 0.75rem;
}

.articles-pagination .pagination-page-current {
  color: var(--red);
  font-weight: var(--medium);
}

.articles-pagination .pagination-button {
  background: var(--purple);
  border: 0;
  border-radius: 50%;
  color: white;
  font-size: 2.5rem;
  margin: 0 1rem;
}

.articles-pagination .pagination-button .icon {
  display: none;
}

.articles-pagination .button-prev:before {
  content: '⭠';
}

.articles-pagination .button-next:before {
  content: '⭢';
}

/* 1.6.1 Mobile Article list on home page */

.home-articles .article-list .article-in-list {
  border-top: 1px solid var(--purple);
  border-bottom: 0;
}

/* 1.7 Mobile Rayon */

.rayon-description {
  margin-bottom: 65px;
}

.rayon-description p {
  color: var(--red);
  font-family: var(--serif);
  font-size: 1.8rem;
}

/* 1.8 Article Page */

.article-page {
  /* margin-top: 50px; */
  margin-top: 25px;
}

.article-page .article-breadcrumbs,
.article-page .article-breadcrumbs a {
  color: var(--red);
  font-family: var(--serif);
  font-size: 1.3rem;
}

.article-page .article-header {
  /* margin-top: 40px; */
  margin-top: 20px;
}

.article-page .article-cover-image {
  border: 1px solid lightgray;
  display: block;
  margin: auto;
  max-width: 100%;
  /* padding: 50px 25px; */
  padding: 25px 12.5px;
}

.article-page .article-infos {
  color: var(--purple);
  font-family: var(--serif);
}

.article-page .article-infos a {
  color: var(--red);
}

.article-page .article-title {
  border: 0;
  color: var(--purple);
  font-family: var(--sans-serif);
  font-size: 4.2rem;
  font-weight: var(--semi-bold);
  margin: 0;
  padding: 0;
}

.article-page .article-publisher {
  font-size: 16px;
  /* margin-top: 30px;
  margin-bottom: 46px; */
  margin-top: 15px;
  margin-bottom: 23px;
}

.article-page .article-catchline {
  font-size: 1.8rem;
  line-height: 2.7rem;
  /* margin-bottom: 46px; */
  margin-bottom: 23px;
}

.article-page .article-catchline p {
  margin-bottom: 0;
}

.article-page .article-catchline-readmore {
  font-size: 1.2rem;
}

.article-page .article-price {
  color: var(--purple);
  font-family: var(--sans-serif);
  font-size: 3.0rem;
  font-weight: var(--semi-bold);
}

.article-page a.cart-button {
  border-color: var(--red);
  background: var(--red);
  font-family: var(--sans-serif);
  color: white;
}

.article-page .article-share {
  font-size: 1.6rem;
  /* margin-top: 40px; */
  margin-top: 20px;
}

.article-page .share-buttons li {
  margin-right: 12px;
}

.article-page .share-buttons a {
  align-items: center;
  border-radius: 50%;
  display: inline-flex;
  background: var(--purple);
  color: white;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.article-page .article-content {
  border-bottom: 1px solid var(--purple);
  /* margin-top: 70px;
  padding-bottom: 70px; */
  margin-top: 35px;
  padding-bottom: 35px;
}

.article-page .section-title {
  border-bottom: 1px solid var(--purple);
  color: var(--purple);
  font-size: 3.0rem;
  font-weight: var(--semi-bold);
  /* margin-bottom: 30px;
  padding-bottom: 30px; */
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.article-page .article-summary {
  color: var(--purple);
  font-family: var(--serif);
  font-size: 1.8rem;
  line-height: 2.7rem;
}

.article-page .article-details {
  color: var(--purple);
}

.article-page .article-details dt {
  font-size: 2.2rem;
  font-weight: var(--medium);
}

.article-page .article-details dd {
  font-family: var(--serif);
  font-size: 1.3rem;
  line-height: 2.1rem;
  /* margin-bottom: 25px; */
  margin-bottom: 12.5px;
}

/** 2. TABLET **/

@media (min-width: 768px) {
  /* 2.1 Tablet Layout */

  .wrapper {
    padding: 0 12px 30px;
  }

  /* 2.2 Tablet Header */

  .site-header {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 8px;
  }

  .site-logo .logo {
    margin: 0;
  }

  .site-catchline {
    flex-grow: 1;
    font-size: 37px;
  }

  .header-bar {
    align-items: flex-end;
    width: 100%;
  }

  .header-bar .social-box {
    order: 1;
    padding: 0;
    width: 150px;
  }

  .social-button:hover {
    background-color: var(--red);
    color: white;
    text-decoration: none;
  }

  .header-bar .search-box {
    align-items: flex-end;
    order: 2;
    margin: 0;
    padding: 0;
    width: 400px;
  }

  .header-bar .search-button {
    padding-bottom: 0;
  }

  .header-bar .cart-box {
    order: 3;
    padding: 0;
    text-align: right;
    width: 150px;
  }

  /* 2.3 Tablet Navbar */

  .navbar {
    font-size: 1.8rem;
  }

  .navbar .navbar-brand {
    display: none;
  }

  .navbar {
    border-radius: 0;
  }

  .navbar-header {
    display: none;
  }

  .navbar-collapse {
    padding: 0;
  }

  .navbar-nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 0;
    width: 100%;
  }

  .navbar-nav::before,
  .navbar-nav::after {
    display: none;
    content: none;
  }

  .navbar-nav > li > a {
    line-height: initial;
    padding: 0;
  }

  .navbar .separator {
    display: inline;
    opacity: 0.75;
  }

  /* 2.4 Tablet Footer */

  .site-footer .footer-row {
    display: flex;
  }

  .site-footer .footer-col {
    width: 33%;
  }

  /* 2.5 Tablet Home Page */

  .home-headings-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  /* 2.6 Tablet Article List */

  .article-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .article-list .article-in-list {
    border-top: 1px solid var(--purple);
    border-bottom: 0;
    margin: 0 20px 0 0;
    width: 320px;
  }

  .article-list .article-cover {
    height: 320px;
    width: 320px;
  }

  /* 2.8 Article Page */

  .article-page {
    margin-top: 50px;
  }

  .article-page .article-header {
    display: flex;
    justify-content: space-between;
  }

  .article-page .article-cover {
    height: 300px;
    width: 300px;
  }

  .article-page .article-cover-image {
    max-height: 100%;
  }

  .article-page .article-infos {
    width: calc(100vw - 350px);
  }

  .article-page .article-content {
    display: flex;
  }

  .article-page .article-summary {
    width: 50%;
  }

  .article-page .article-details {
    margin-left: 30px;
    width: 50%;
  }
}

/** 3. DESKTOP **/

@media (min-width: 1024px) {
  /* 3.1 Desktop Layout */

  .site-logo .logo {
    max-width: none;
    width: 390px;
  }

  .site-catchline {
    font-size: 53px;
  }

  .navbar {
    font-size: 2.25rem;
  }

  /* 3.4 Footer */

  .site-footer .footer-col {
    padding: 0 15px;
  }

  /* 3.5 Desktop Home page */

  div.biblys-carousel .swiper-button-prev,
  div.biblys-carousel .swiper-button-next {
    display: block;
    opacity: 0;
  }

  div.biblys-carousel:hover .swiper-button-prev,
  div.biblys-carousel:hover .swiper-button-next {
    opacity: 0.75;
  }

  div.biblys-carousel .swiper-button-prev,
  div.biblys-carousel .swiper-button-next {
    background-color: #9999cd;
    border-radius: 50%;
    height: 50px;
    line-height: 50px;
    margin-top: 0;
    width: 50px;
    transition: opacity 250ms;
    text-align: center;
    vertical-align: middle;
    transform: translateY(calc(-50% - 10px));
  }

  div.biblys-carousel .swiper-button-next::after,
  .swiper-container-rtl .swiper-button-prev::after {
    color: #4300ae;
    line-height: unset;
    content: '→';
  }

  div.biblys-carousel .swiper-button-prev::after,
  .swiper-container-rtl .swiper-button-next::after {
    color: #4300ae;
    line-height: unset;
    content: '←';
  }

  div.biblys-carousel .swiper-button-prev.swiper-button-disabled,
  div.biblys-carousel .swiper-button-next.swiper-button-disabled {
    opacity: 0;
  }

  .home-cols {
    display: flex;
    justify-content: space-between;
  }

  .home-cols .home-left-col {
    width: 670px;
  }

  .home-articles-title {
    border: 0;
    margin-bottom: 0;
  }

  .home-cols .home-right-col {
    width: 290px;
  }

  /* 3.6 Desktop Article List */

  .article-list {
    justify-content: flex-start;
    margin: 0 -13.75px;
  }

  .article-list .article-in-list {
    margin: 0 13.75px;
    width: 315px;
  }

  /* Home article list */

  .article-list {
    margin: 0 -20px;
  }

  .home-articles .article-list .article-in-list {
    margin: 0 20px;
  }

  /* 3.8 Desktop Article page */

  .article-page .article-header {
    margin-top: 40px;
  }

  .article-page .article-cover {
    flex-shrink: 0;
    height: 500px;
    width: 500px;
  }

  .article-page .article-cover-image {
    padding: 50px 25px;
  }

  .article-page .article-publisher {
    margin-top: 30px;
    margin-bottom: 46px;
  }

  .article-page .article-catchline {
    margin-bottom: 46px;
  }

  .article-page .article-share {
    margin-top: 40px;
  }

  .article-page .article-content {
    margin-top: 70px;
    padding-bottom: 70px;
  }

  .article-page .article-summary {
    width: 60%;
  }

  .article-page .article-details {
    width: 40%;
  }

  .article-page .section-title {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }

  .article-page .article-details dd {
    margin-bottom: 25px;
  }
}
