{% extends "layout:base.html.twig" %}

{% block main %}
  {#
    CAROUSEL (STATIQUE)
    Pour changer le contenu du carousel,
    modifier le code ci-dessous
  #}

<div id="HomeCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#HomeCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#HomeCarousel" data-slide-to="1"></li>
    <li data-target="#HomeCarousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="https://www.coleresdupresent.com/article/23e-salon-du-livre-dexpression-populaire-et-de-critique-sociale/" target="_blank" rel="noopener noreferrer">
        <img class="d-block w-100" src="https://alterlibris.fr/media/carousel/banniere-1000px-02-arras-alterlibris.jpg" alt="Bannière 1"/>
      </a>
    </div>

    <div class="carousel-item">
      <a href="https://alterlibris.fr/contact/" target="_blank" rel="noopener noreferrer">
        <img class="d-block w-100" src="https://alterlibris.fr/media/carousel/benevoles-carrousel.jpg" alt="Bannière 2"/>
      </a>
    </div>

    <div class="carousel-item">
      <a href="https://alterlibris.fr/blog/repenser-notre-rapport-au-travail-et-a-l-argent" target="_blank" rel="noopener noreferrer">
        <img class="d-block w-100" src="https://alterlibris.fr/media/carousel/carrousel-02-fev-2023-v1-2-argent.jpg" alt="Bannière 3"/>
      </a>
    </div>
  </div>

  <a class="carousel-control-prev" href="#HomeCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#HomeCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

  <div class="home-cols">

    <div class="home-left-col">

      {#
        BLOC NOUVEAUTÉS (DYNAMIQUE)
        Ce bloc affiche automatiquement les livres du rayon "Page d'accueil"
      #}

      <div class="home-articles">
        <header class="header">
          <h1 class="home-section-title home-articles-title">Anti Fascisme</h1>
        </header>
        {% include 'AppBundle:Article:_list.html.twig' %}
      </div>
      
    </div>
    <div class="home-right-col">
      <div class="home-headings-section">
        <article class="home-heading">
          <h1 class="home-section-title">Actualités</h1>
          <a href="https://fete.humanite.fr/" target="_blank" rel="noopener noreferrer">
              <img src="/media/rubriques/bloc-site-290px-fete-huma-2025.jpg" class="home-heading-image" alt="Actualités" />
          </a>
        </article>

        <article class="home-heading">
          <h1 class="home-section-title">Coups de cœur</h1>
          <a href="/blog/tirons-la-langue-par-lysiane">
            <img src="/media/rubriques/bloc-site-290px-02-coupdecoeur-tironslalangue.jpg" class="home-heading-image" alt="Rubrique 2" />
          </a>
        </article>

        <article class="home-heading">

        <h1 class="home-section-title">Suivez-nous sur Facebook</h1>
        <div
          class="fb-page"
          data-href="https://www.facebook.com/AlterLibris"
          data-tabs="timeline"
          data-width="290"
          data-height=""
          data-small-header="false"
          data-adapt-container-width="true"
          data-hide-cover="false"
          data-show-facepile="true"
        >
          <blockquote cite="https://www.facebook.com/AlterLibris/" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/AlterLibris/">AlterLibris, tous les livres des assos</a>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  <article class="home-heading" style="width: unset !important;">
    <h1 class="home-section-title">L'actu des assos</h1>
    <a href="https://alterlibris.fr/a/collectif/j-etais-la" target="_blank" rel="noopener noreferrer">
      <img src="/media/rubriques/banniere-1000px-03-facescacheesj-etaisla-alterlibris.jpg" class="home-heading-image" alt="Rubrique 3" />
    </a>
  </article>
{% endblock %}
